/* GLOBAL */

* {
    box-sizing: border-box;
}

.border {
    border: 1px solid black;
}

/* LAYOUT */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8em;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 5em 10% 10em 10%;
    justify-content: center;
    gap: 5em;
}

.main-row {
    display: flex;
    gap: 2em;
}

.main-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}


/* TYPOGRAPHY */

h1 {
    font-size: 5rem;
    color: rgba(32,33,35,255);
    font-weight: 700;
    font-family: sans-serif;
}

p, h3, a {
    font-family: sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

/* COMPONENTS */

/* COMPONENTS - Header*/

.header {
    background-color: rgba(61,224,126,255);
}

.header-img__nav {
    margin: 1em;
    align-self: flex-start;
}

/* COMPONENTS - Main*/

.main {
    background-color: black;
}

.main-card img {
    width: 100%;
}

.main-card__button {
    background-color: rgba(232,63,87,255);
    padding: 0.6em 1em;
    border-radius: 0.5em;
    align-self: flex-start;
    margin-top: 1em;
}

.card-big {
    background-color: white;
}

.card-big h3,
.card-big p {
    color: black;
    margin-left: 1rem;
}

.card-big a {
    margin: 3rem 0 1rem 1rem;
    border-radius: 0.2rem;
}