/* GLOBAL */

* {
    box-sizing: border-box;
}

/* LAYOUT */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8em;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 5em 15% 10em 15%;
    justify-content: center;
    gap: 5em;
}

.main-row {
    display: flex;
    gap: 2em;
}

.main-card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3em;
    height: 20em;
    width: 100%;
}


/* TYPOGRAPHY */

h1 {
    font-size: 5rem;
    color: rgba(32,33,35,255);
    font-weight: 700;
    font-family: sans-serif;
}

p, h2, h3, a {
    font-family: sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

/* COMPONENTS */

/* COMPONENTS - Header*/

.header {
    background-color: rgba(61,224,126,255);
}

.header-img__nav {
    margin: 1em;
    align-self: flex-start;
}

/* COMPONENTS - Main*/

.main {
    background-color: black;
}

.main-card img {
    width: 100%;
}

.main-card__button {
    background-color: rgba(232,63,87,255);
    padding: 0.6em 1em;
    border-radius: 0.5em;
    align-self: flex-start;
    margin-top: 1em;
}

.card-big {
    background-color: white;
}

.card-big h3,
.card-big p {
    color: black;
    margin-left: 1rem;
}

.card-big a {
    margin: 3rem 0 1rem 1rem;
    border-radius: 0.2rem;
}

/* COMPONENTS - Footer*/

.footer {
    background-color: rgba(51,51,51,255);
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.footer-nav__header {
    margin-bottom: 0.5em;
}

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.footer-address__header {
    margin-bottom: 0.5em;
}

.footer-social-logos {
    display: flex;
    padding-top: 0.5em;
    gap: 1em;
}

.footer-social-logos img {
    align-self: flex-start;
}

/* COMPONENTS - Checkout*/

.checkout {
    gap: 2em;
    padding: 8em 15% 10em 15%;
}

.card-checkout a {
    margin: 0rem 0 1rem 1rem;
    border-radius: 0.2rem;
}

.main-price {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 3em 0;
}

.main-price-row {
    display: flex;
    justify-content: space-between;
}

.main-price_cell-1 {
    flex: 3;
}

.main-price_cell-2 {
    flex: 2;
}

.main-price_cell-3 {
    flex: 1;
}

.main-price-row__head {
    background-color: rgba(47,11,11,255);
    padding: .5em 0;
}

.main-price-row__data {
    font-size: 1.5rem;
}

.line {
    height: 0.2em;
    width: 100%;
    background-color: gray;
}

.main-price-row__total {
    font-size: 1.5rem;
    font-weight: 700;
}

.main-checkout-button {
    background-color: rgba(232,63,87,255);
    padding: 0.6em 1em;
    border-radius: 0.2em;
    align-self: flex-end;
    margin-top: 3em;
    font-size: 1.3rem;
    font-weight: 700;
}